.formControl.error input,
.formControl.error textarea {
    border: 4px red solid;
}

.formControl.error span {
    color: black;
}

.formSummaryError {
    border: 4px red solid;
    padding: 5px;
    color: red;
}
