.userPhoto {
    height: 80px;
    width: 80px;
    border-radius: 40px;

}

.pNum {
    font-size: 25px;
    overflow: auto;
    height: 50px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently not supported by any browser */
}
