.dialog {
    color: white;
    padding: 10px;
    height: 70px;
    vertical-align: middle;
}

.dialog a {
    text-decoration: none;
}

.dialog a:visited {
    color: inherit;
}

.active {
    color: #5ffbf1 !important;
}

.dialog a:hover {
    border-bottom: 1px dashed white;
}

.dialog img {
    height: 70px;
    border-radius: 30px;
    vertical-align: middle;
}

a span{
    padding: 10px;
}
