.dialogs {
    display: grid;
    grid-template-columns: 4fr 10fr;
    text-align: start;
}

.dialogs_items {
    padding: 10px;
    vertical-align: top!important;
}

.dialogs_items .dialog {
    color: white;
}

.messages {
    padding: 10px;
}

.messages .message {

}

.dialog a {
    text-decoration: none;
}

.dialog a:visited {
    color:inherit;
}

.active {
    color: #5ffbf1!important;
}

.dialog a:hover {
    border-bottom: 1px dashed white;
}
